img {
    width: 380px;
    border: 3px solid #121212
}

body {
    text-align: center;
    border: 3px solid #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #121212;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    border: 3px solid #121212;
    margin: 30px 0 10px;
    text-align: center;
    padding: 10px 25px;
    font-size: 15px
}

button {
    background: #121212;
    color: white;
    padding: 10px 81px;
    border: 3px solid #121212;
}

.terms {
    font-style: italic;
}

#service {
    margin: 20px 0 50px;
}

#tos {
    color: #121212;
}
